mixin footer-modern(obj)
  footer.section.footer-modern.context-dark(class=obj.mod)
    .footer-modern-line-3: .container: .row.row-30.align-items-center
      .col-lg-12.wow.fadeInRight
        p Разработано компанией
          a(href='http://webrm.ru/')  "Интернет для жизни"
      .col-lg-12.wow.fadeInLeft
        p Copyright © 2020
          a(href='https://funreality.ru/')  "Увлекательная реальность"™