body {
  background: #3498db;
}

.rd-navbar:not(.rd-navbar--is-stuck) .brand img{
  max-width: 400px !important;
  position: absolute;
  top: 14px;
  left: -66px;
}



.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 100%;
  margin-top: 0;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;

  &:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
  }

  @-webkit-keyframes scroll {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(46px);
      transform: translateY(46px);
    }
  }
  @keyframes scroll {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(46px);
      transform: translateY(46px);
    }
  }

}

#advantages {
  p.under-title {
    font-size: 20px;
    text-align: center;
  }
  form {
    button {
      margin: 0 auto;
      display: block;
    }
  }
}
#contacts {
  .icon.mdi {
    font-size: 50px;
    margin-bottom: 20px;
  }
  p {
    font-size: 20px;
    line-height: 22px;
    color: #333;
  }
  h6 {
    font-size: 18px;
    text-transform: inherit;
    letter-spacing: 0.4px;
  }
}

.rd-mailform {
  button.button {
    margin: 0 auto;
    display: block;
    padding: 30px 55px !important;
  }
}

.row > .col-lg-12 > h3 {
  text-align: center;
}

#about {
  p {
    color: #333;
    line-height: 22px;
    font-size: 18px;
    text-align: justify;
  }
  p.under-title {
    font-size: 28px;
    line-height: 32px;
    text-align: center;
  }
  .flex-easy-center {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      max-width: 350px;
    }
  }
  .down-load-present {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 40px auto 0 auto;
  }
  .flexing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

#solve-the-problem,
#advantages,
#opportunities {

  .row + .row {
    margin-top: 10px;
  }

  [class^=col] {
    padding-right: 5px;
    padding-left: 5px;
  }

  .block-text-info {

    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;

    border: 2px solid #d4d9ff;
    background-color: #eaf0ff;
    padding: 20px;
    height: 100%;

    b, p {
      color: #333;
    }
    b {
      text-align: left;
      display: block;
    }
    p {
      text-align: justify;
    }
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-transition: 0.2s linear;
      transition: 0.2s linear;
      z-index: 2;
      position: relative;
    }
  }
}

#advantages {
  .go-to-demo-stend {
    margin-top: 40px;
  }
}



#opportunities {

  .salo {
    padding: 15px;
    margin: -10px;
  }
  .m-h-50 {
    min-height: 50%;
  }


  .last-item {
    display: flex;
    justify-content: flex-end;
  }
/*
  .block-text-info {
    height: auto;
  }
*/
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background-attachment: scroll;
  overflow: hidden;

  .container {
    margin-top: -600px;
    margin-bottom: 82px;
    z-index: 2;
    position: inherit;

    .video-title-1,
    .video-title-2{
      color: #fff;
    }

    .video-title-1 {
      text-align: left;
      color: #fff;
      font-size:55px;
      font-weight:600;
      height:auto;
      line-height:66px;
      max-width: 1140px;
    }
    .video-title-2 {
      text-align: left;
      font-size: 24px;
      line-height: 30px;
      margin-top: 50px;
      max-width: 730px;
    }
    .more-info {
      padding: 10px 20px;
      background: transparent;
      display: block;
      margin: 30px 0;
      cursor: pointer;
      border: 2px solid #fff;
      border-radius: 40px;
      font-weight: bold;
      color: #fff;
    }
  }

  video {
    //max-width: 1200px;
    max-height: 100%;
    position: relative;
    z-index: 0;
    width: 100%;
  }
  .overlay {
    height: 100%;
    //max-width: 1200px;
    width: 100%;
    position: absolute;
    top: 0;
    //left: calc(50% - 600px);
    z-index: 2;
    background: #000;
    opacity: 0.5;
    display: flex;
  }
}

#video {
  padding: 30px 0 45px 0;

  & * {
    &:hover {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

}





@media screen and (max-width: 1450px) {

  .videoContainer {
    .container {
      margin-top: -520px;
      margin-bottom: 68px;
    }
  }

}

@media screen and (max-width: 1200px) {

  .rd-navbar-fixed .rd-navbar-brand img {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
  }

  .videoContainer {
    .container {
      margin-top: -350px;
      margin-bottom: 142px;
      .video-title-1 {
        font-size: 30px;
        line-height: 30px;
      }
      .video-title-2 {

      }
      .more-info,
      .icon-scroll {
        display: none;
      }
    }
  }

}

@media screen and (max-width: 990px) {

  #opportunities {
    .salo {
      padding: inherit;
      margin: inherit;
      margin-bottom: 10px;
    }
    .h-100 {
      margin: 0 auto;
    }
    .m-h-50 {
      min-height: auto;
    }
  }

  .videoContainer {
    .container {
      margin-top: -330px;
      margin-bottom: 120px;
      .video-title-1 {
        font-size: 30px;
        line-height: 30px;
      }
      .video-title-2 {
        margin-top: 20px;
      }
    }
  }

  #advantages,
  #solve-the-problem {
    .row + .row {
      margin-top: 0;
      [class^=col] {
        margin-bottom: 10px;
      }
    }
  }

}

@media screen and (max-width: 800px) {
  .videoContainer {
    .container {
      margin-top: -250px;
      margin-bottom: 110px;
      .video-title-1 {
        font-size: 24px;
        line-height: 26px;
        text-align: center;
      }
      .video-title-2 {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 600px) {

  .videoContainer {

    .overlay {
      left: 0;
    }

    .container {

      margin-top: -190px;
      margin-bottom: 70px;

      .video-title-1 {
      }

      .video-title-2 {
        display: none;
      }

      .more-info,
      .icon-scroll {
        display: none;
      }

    }
  }

  #solve-the-problem,
  #advantages,
  #opportunities {
    .row + .row {
      margin: 0;
    }
  }

  #advantages {
    .under-title {
      margin: 30px;
    }
    button.button {
      margin: 25px -10px;
      display: block;
      width: calc(100% + 20px);
    }
  }

  #contacts {
    [class^=col] {
      margin-bottom: 20px;
    }
  }

}

@media screen and (max-width: 460px) {
  .videoContainer {
    .container {

      .video-title-1 {

      }
    }
  }
}

@media screen and (max-width: 400px) {
  .videoContainer {
    .container {
      margin-top: -120px;
      margin-bottom: 60px;
      .video-title-1 {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}