//
// Accent Colors
//
/*
$primary: #00e39f;
$primary-sec: #57b58e;
$secondary: #359fd6;
$gradient-overlay: #2142bc;
$gradient-overlay-2: #9470fe;

$button-gradient: linear-gradient(to right, $secondary , $primary);
$image-gradient: $button-gradient;
*/

$primary: #18548D;
$primary-sec: #2142bc;
$secondary: #359fd6;
$gradient-overlay: #2142bc;
$gradient-overlay-2: #9470fe;

$button-gradient: linear-gradient(to right, $secondary , $primary);
$image-gradient: $button-gradient;