-
  var
    html_class = "wide wow-animation",
    fonts = "//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,600,700,900%7CRaleway:500",
    subscribeFormCounter = 0,
    logo = {
      default: 'logo-default-1200x250',
      inverse: 'logo-inverse-141x31',
      name: 'Digimint'
    },
    links = {
      getTemplate:'#get-template' 
    },
    colors = {
      primary: '#46b8de'
    },
    menu = [
      {
        title: 'О продукте',
        category: 'about',
        link: '#about'
      },
      {
        title: 'Решаемые задачи',
        link: '#solve-the-problem'
      },
      {
        title: 'Возможности',
        link: '#opportunities'
      },
      {
        title: 'Преимущества',
        link: '#advantages'
      },
      {
        title: 'Контакты',
        link: '#contacts'
      }
    ];