extends  _skeleton
//- Includes
include sections/_footer-modern
include components/_ui-thumbnail
include components/_ui-box-icon
include components/_ui-box-services
include components/_ui-quote
include components/_ui-box-team
include components/_ui-posts
include components/_ui-counters
include components/_ui-product
include components/_ui-progress-bar-linear
include components/_ui-thumbnail

block variables
    - var activeCategory = 'home'
    - var pageName = 'Интеллектуальная платформа обработки данных на основе технологий машинного обучения и компьютерного зрения'


block page
    // Page Header
    header.section
        // RD Navbar
        .rd-navbar-wrap
            nav.rd-navbar.rd-navbar-modern(
                data-layout=                'rd-navbar-fixed'
                data-sm-layout=             'rd-navbar-fixed'
                data-md-layout=             'rd-navbar-fixed'
                data-md-device-layout=      'rd-navbar-fixed'
                data-lg-layout=             'rd-navbar-fixed'
                data-lg-device-layout=      'rd-navbar-fixed'
                data-xl-layout=             'rd-navbar-static'
                data-xl-device-layout=      'rd-navbar-static'
                data-xxl-layout=            'rd-navbar-static'
                data-xxl-device-layout=     'rd-navbar-static'
                data-lg-stick-up-offset=    '150px'
                data-xl-stick-up-offset=    '150px'
                data-xxl-stick-up-offset=   '250px'
                data-lg-stick-up=           'true'
                data-xl-stick-up=           'true'
                data-xxl-stick-up=          'true')
                .rd-navbar-inner-outer: .rd-navbar-inner
                    // RD Navbar Panel
                    .rd-navbar-panel
                        // RD Navbar Toggle
                        button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap'): span
                        // RD Navbar Brand
                        .rd-navbar-brand: a.brand(href='index.html'): +png(logo.default, 'brand-logo-dark')

                    .rd-navbar-right.rd-navbar-nav-wrap
                        .rd-navbar-aside
                            ul.rd-navbar-contacts-2
                                li: .unit.unit-spacing-xs
                                    .unit-left: span.icon.mdi.mdi-phone
                                    .unit-body: a.phone(href='tel:88342312100') +7 (8342) 31-21-00
                                li: .unit.unit-spacing-xs
                                    .unit-left: span.icon.mdi.mdi-map-marker
                                    .unit-body: a.address(href='#') 430005, г. Саранск ул. Пролетарская, д. 36

                            ul.list-share-2
                                li: a.icon.mdi.mdi-facebook(href='https://www.facebook.com/Evolenta', target='_blank')
                                li: a.icon.mdi.mdi-twitter(href='https://twitter.com/EvolentaCompany', target='_blank')
                                li: a.icon.mdi.mdi-vk(href='https://vk.com/evolenta', target='_blank')
                                li: a.icon.mdi.mdi-email(href='mailto:info@funreality.ru', target='_blank')

                        .rd-navbar-main
                            include includes/_navigation
                    //-
                      .rd-navbar-project-hamburger.rd-navbar-project-hamburger-open.rd-navbar-fixed-element-1( data-multitoggle='.rd-navbar-inner', data-multitoggle-blur='.rd-navbar-wrap', data-multitoggle-isolate )
                        .project-hamburger
                          - for (var i = 0; i < 3 ; i++)
                            span.project-hamburger-arrow

                      .rd-navbar-project
                        .rd-navbar-project-header
                          h5.rd-navbar-project-title Latest Projects
                          .rd-navbar-project-hamburger.rd-navbar-project-hamburger-close( data-multitoggle='.rd-navbar-inner', data-multitoggle-blur='.rd-navbar-wrap', data-multitoggle-isolate )
                            .project-close
                              span
                              span

                        .rd-navbar-project-content.rd-navbar-content: div: .row.gutters-20(data-lightgallery='group')
                          .col-6
                            +thumbnail-creative({
                              nameImg: 'aside',
                              numberImg: '1',
                              sizeImg: '195x164'
                            })
                          .col-6
                            +thumbnail-creative({
                              nameImg: 'aside',
                              numberImg: '2',
                              sizeImg: '195x164'
                            })
                          .col-6
                            +thumbnail-creative({
                              nameImg: 'aside',
                              numberImg: '3',
                              sizeImg: '195x164'
                            })
                          .col-6
                            +thumbnail-creative({
                              nameImg: 'aside',
                              numberImg: '4',
                              sizeImg: '195x164'
                            })
                          .col-6
                            +thumbnail-creative({
                              nameImg: 'aside',
                              numberImg: '5',
                              sizeImg: '195x164'
                            })
                          .col-6
                            +thumbnail-creative({
                              nameImg: 'aside',
                              numberImg: '6',
                              sizeImg: '195x164'
                            })

    section.section.section-sm.video-background.page-header#video
        .videoContainer
            .overlay
            video(autoplay='' loop='' muted='')
                source(src='video/videoSOFD.mp4' type='video/mp4')
            .container
                .row
                    .col-lg-12
                        p.video-title-1.wow.slideInDown Интеллектуальная платформа обработки данных на основе технологий машинного обучения и компьютерного зрения
                        p.video-title-2.wow.fadeInLeft Решение для автоматизации процессов детектирования и распознавания объектов по различным видам входных данных
                        button.more-info.wow.slideInUp Подробнее о продукте
                        //-
                          .icon-scroll


    section.section.section-sm.bg-default.text-left#about(data-type='anchor')
        .container
            .row
                .col-lg-12
                    h3.wow.slideInUp О продукте
            .row
                .col-lg-12
                    p.under-title Теперь можно оцифровывать каждый объект в мире, используя машинное обучение, компьютерное зрение и спутниковые снимки.
            .row.row-30.wow.fadeInLeft
                .col-lg-6.flexing
                    //-.block-sm.block-sm-left
                    p.wow.fadeInRight Интеллектуальная платформа обработки данных на основе технологий машинного обучения и компьютерного зрения предназначена для автоматизации процессов детектирования и распознавания данных на различных источниках.
                    p.wow.fadeInRight В частности, интеллектуальная платформа обеспечивает автоматизацию процесса детектирования объектов по фотограмметрическим данным, полученных из различных источников, с отображением результата детектирования в геоинформационной системе, и с возможностью формирования аналитической информации и выгрузки атрибутивной информации детектируемых объектов.
                    a.wow.slideInUp.button.button-lg.button-primary-gradient.down-load-present(href='upload/Интеллектуальная платформа (ai-platform).pdf', target='_blank') Скачать презентацию
                .col-lg-6.flex-easy-center
                    img(src='images/about.png')


    section.section.section-sm.bg-default.text-left#solve-the-problem(data-type='anchor')
        .container
            .row
                .col-lg-12
                    h3.wow.slideInUp Решаемые задачи
            .row
                .col-lg-6
                    .block-text-info.wow.fadeInLeft
                        b 1. Инвентаризация и учет состояния объектов строительства и земельных участков
                        p Инвентаризация и учет состояния объектов строительства и земельных участков, а также расположенных на земельных участках зданий, сооружений и иных градостроительных объектов, независимо от формы собственности на указанные объекты.

                .col-lg-6
                    .block-text-info.wow.fadeInRight
                        b 2. Повышение налогового потенциала
                        p Прогнозирование объемов налоговых и неналоговых доходов бюджета за счет платежей, связанных с использованием земель, а также зданий и помещений, находящихся в федеральной собственности, а также за счет платежей, связанных с вовлечением объектов недвижимости в налоговый оборот.
            .row
                .col-lg-6
                    .block-text-info.wow.fadeInLeft
                        b 3. Выявление бесхозяйственных и самовольных построек
                        p Выявление бесхозяйных недвижимых вещей, иных объектов, а также самовольных построек.
                .col-lg-6
                    .block-text-info.wow.fadeInRight
                        b 4. Осуществление контроля за территорией
                        p Осуществление контроля за использованием территорий и расположенных в их границах объектов.
            .row
                .col-lg-12
                    .block-text-info.wow.slideInUp
                        b 5. Выявление объектов, не поставленных на кадастровый учет
                        p Выявление объектов недвижимости с целью их постановки на кадастровый учет в государственном кадастре объектов недвижимости.

    section.section.section-sm.bg-default.text-left#opportunities(data-type='anchor')
        .container
            .row
                .col-lg-12
                    h3.wow.slideInUp Возможности

            .row

                .col-lg-6
                    .row.h-100
                        .col-lg-12.salo.m-h-50
                            .block-text-info.wow.fadeInLeft
                                b 1. Классификация и сегментация
                                p Классификация и семантическая сегментация объектов дешифрирования в соответствии с классификатором посредством обработки фотограмметрических данных с использованием моделей машинного обучения.
                        .col-lg-12.salo.m-h-50
                            .block-text-info.wow.fadeInRight
                                b 2. Формирование выгрузки
                                p Выгрузка результатов обработки объектов дешифрирования и различной геопространственной информации.

                .col-lg-6
                    .row.h-100
                        .col-lg-12.salo
                            .block-text-info.wow.fadeInLeft
                                b 3. Векторизация объектов
                                p Векторизация сегментированных объектов дешифрирования.
                        .col-lg-12.salo
                            .block-text-info.wow.fadeInRight
                                b 4. Ортогонализация объектов
                                p Ортогонализация векторизованных объектов дешифрирования.
                        .col-lg-12.salo
                            .block-text-info.wow.fadeInRight
                                b 5. Управление процессом
                                p Управление процессом обработки фотограмметрических данных.

        //-.container
            .left-block
                .block-text-info.wow.fadeInLeft
                    b 1. Классификация и сегментация
                    p Классификация и семантическая сегментация объектов дешифрирования в соответствии с классификатором посредством обработки фотограмметрических данных с использованием моделей машинного обучения.
                .block-text-info.wow.fadeInLeft
                    b 3. Векторизация объектов
                    p Векторизация сегментированных объектов дешифрирования.

            .right-block
                .block-text-info.wow.fadeInRight
                    b 2. Управление процессом
                    p Управление процессом обработки фотограмметрических данных.
                .block-text-info.wow.fadeInRight
                    b 4. Ортогонализация объектов
                    p Ортогонализация векторизованных объектов дешифрирования.
                .block-text-info.wow.fadeInRight
                    b 5. Формирование выгрузки
                    p Выгрузка результатов обработки объектов дешифрирования и различной геопространственной информации.



    section.section.section-sm.bg-gray-100(style={padding: '45px 0 45px 0;'})
        .container.wow.slideInUp
            .owl-carousel.owl-style-13(data-items='1', data-md-items='2', data-margin='0', data-autoplay='true',  data-nav='true', data-dots='true', data-loop='false', data-rewind='true')
                +post-creative({
                    img: '1-620x620',
                    title: 'Дешифрирование <b>более 90%</b><br> частной застройки на<br> аэрофотоснимках',
                })
                +post-creative({
                    img: '2-620x620',
                    title: 'Дешифрирование <b>более 60%</b><br> частной застройки на<br> спутниковых снимках',
                })
                +post-creative({
                    img: '3-620x620',
                    title: 'Дешифрирование <b>более 75%</b><br> многоквартирных домов на<br> спутниковых снимках',
                })
                +post-creative({
                    img: '4-620x620',
                    title: 'Дешифрирование <b>более 60%</b><br> земельных участков на<br> аэрофотоснимках',
                })


    section.section-sm.bg-default#advantages(data-type='anchor')
        .container
            .row
                .col-lg-12
                    h3.wow.slideInUp Преимущества
            .row
                .col-lg-6
                    .block-text-info.wow.fadeInLeft
                        b 1. Обширный расширяемый классификатор дешифрируемых объектов
                        p Интеллектуальная платформа имеет свыше 10 подготовленных моделей машинного обучения под разные типы фотограмметрических данных и имеет возможность расширения классификатора посредством добавления моделей машинного обучения.
                .col-lg-6
                    .block-text-info.wow.fadeInRight
                        b 3. Наличие конфигураций для всех типов фотограмметрических данных
                        p Интеллектуальная платформа имеет конфигурации под аэрофотосъемку и спутниковые снимки.
            .row
                .col-lg-6
                    .block-text-info.wow.fadeInLeft
                        b 2. Особенности архитектуры
                        p Интеллектуальная платформа разработана на основе микросервисной архитектуры.
                        p Каждый микросервис интеллектуальной платформы функционирует как минимум в двух экземплярах для обеспечения отказоустойчивости как микросервиса в частности, так и интеллектуальной платформы в целом.
                .col-lg-6
                    .block-text-info.wow.fadeInRight
                        b 4. Быстрая обработка данных и выгрузка результатов
                        p Интеллектуальная платформа обеспечивает обработку тайловых карт площадью 1 кв.км с приближением 18 и осуществляет выгрузку данных за 5 минут при следующей конфигурации вычислительного узла: 64 x CPU Intel® Xeon® 3,5 GHz, RAM 32 Gb, 2,256 Tb SSD, 4 x NVIDIA GeForce RTX 2060, 10 Gigabit Ethernet 10000 Mbit, Linux CentOS 7.5 / Linux Ubuntu 18.04.
            .row
                .col-lg-12
                    .block-text-info.wow.slideInUp
                        b 5. Гибкость и легкость масштабирования
                        p Обеспечивает возможность управления всеми процессами конвейера обработки фотограмметрических данных через административную панель платформы.
                        p Легкость масштабирование интеллектуальной платформы достигнута обеспечением возможности расширения классификатора дешифрируемых объектов за счет интеграции в платформу новых моделей машинного обучения и возможностью добавления сервера для загрузки фотограмметрических данных.
            .row
                .col-lg-12
                    a.button.button-lg.button-primary-gradient.go-to-demo-stend(href='http://ai-platform.funreality.ru/ ', target='_blank') Перейти к демо-стенду

    section.section-sm.bg-gray-100
        .container
            .row
                .col-lg-12
                    h3.wow.slideInUp Заявка на внедрение
                    p.under-title Если заинтересованы в нашем сервисе, заполните форму, и мы свяжемся с вами в течение 24 часов.
                .col-lg-12
                    form.rd-form.rd-mailform.form-style-1(data-form-output='form-output-global', data-form-type='contact', method='post', action='bat/rd-mailform.php')
                        .row.row-20.gutters-20
                            .col-md-6.col-lg-6.oh-desktop: .form-wrap.wow.slideInDown
                                input.form-input(id='contact-your-name-6' type='text' name='name' data-constraints='@Required')
                                label.form-label(for='contact-your-name-6') Имя *
                            .col-md-6.col-lg-6.oh-desktop: .form-wrap.wow.slideInUp
                                input.form-input(id='contact-phone' type='text' name='phone' data-constraints='@Required')
                                label.form-label(for='contact-phone') Телефон *
                            .col-md-6.col-lg-6.oh-desktop: .form-wrap.wow.slideInUp
                                input.form-input(id='contact-email-6' type='email' name='email' data-constraints='@Email @Required')
                                label.form-label(for='contact-email-6') E-mail *
                            .col-md-6.col-lg-6.oh-desktop: .form-wrap.wow.slideInDown
                                input.form-input(id='contact-company' type='text' name='company' data-constraints='@Required')
                                label.form-label(for='contact-company') Компания *
                            .col-12: .form-wrap.wow.fadeIn
                                label.form-label(for='contact-message') Краткое описание задачи
                                textarea.form-input.textarea-lg(id='contact-message' name='message' data-constraints='@Required')
                        .row
                            .col-lg-12
                                button.button.button-lg.button-primary-gradient.wow.fadeInRight(type='submit') Отправить




    section.section.section-sm.section-inset-3.bg-gray-100.text-center#contacts(data-type='anchor')
        .content-md.container
            .row
                .col-md-4.col-sm-6.md-margin-b-50
                    .text-center.wow.fadeInRight
                        a.font-size-36.icon.mdi.mdi-phone
                        h6 Телефон
                        p
                            a(href='tel:88342312100') 8 (8342) 31-21-00
                .col-md-4.col-sm-6.sm-margin-b-50
                    .text-center
                        a.font-size-36.icon.mdi.mdi-map-marker
                        h6 Адрес
                        p 430005, г. Саранск, ул. Пролетарская, д. 36 помещение 1
                .col-md-4.col-sm-6
                    .text-center.wow.fadeInRight
                        a.font-size-36.icon.mdi.mdi-email
                        h6 E-mail
                        p
                            a(href='mailto:info@evolenta.ru') info@evolenta.ru



    +footer-modern({
        mod: 'footer-modern-2',
        logo: logo.inverse,
        name: logo.name,
        textForm: 'Sign up today for the latest news and tips',
        list: [
            {text: 'Facebook Ads'},
            {text: 'PPC Services'},
            {text: 'Email Marketing'},
            {text: 'SEO Services'},
            {text: 'Lead Generation'},
            {text: 'Marketing Strategy'}
        ]
    })